<section class="start" id="/">
    <div class="container">
        <div>
            <h2>Profesjonalny nadzór instalacji sanitarnych</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut cursus augue, eu egestas ante. Curabitur sagittis convallis elit, vel consequat nisi fringilla non</p>
        </div>
    </div>
    <div class="bottom">
        <a class="learn-more" href="#oferta">
            <button class="button">
                    <div>
                        <img src="../../assets/svg/arrow_down.svg">
                        <span>Dowiedz się wiecej</span>
                        <img src="../../assets/svg/arrow_down.svg">
                    </div>
                </button>
        </a>
    </div>
</section>
<section class="offer" id="oferta" #oferta>
    <h3 class="title">Oferta</h3>
    <p>
        Ofertę kieruję głównie do firm (Developerów, Spółdzielni Mieszkaniowych, Instytucji publicznych, Generalnych Wykonawców oraz Wykonawców robót) ale również do klientów indywidualnych. Zakres świadczonych prze mnie usług znajdą Państwo poniżej.
    </p>

    <div class="square-container">
        <div class="square square-1" [routerLink]="['/oferta-dla-osob-prywatnych']">
            <h4>Osoby prywatne</h4>
        </div>
        <div class="square square-2" [routerLink]="['/oferta-dla-firm']">
            <h4>Firmy</h4>
        </div>
    </div>
</section>
<section class="about" id="o-mnie">
    <div>
        <h3 class="title">O mnie</h3>
        <p>
            Jestem Inżynierem z ponad piętnastoletnim doświadczeniem w przygotowaniu i realizacji Inwestycji, zdobytym na różnych szczeblach od Inżyniera Budowy, Kierownika Budowy, Kierownika Działu Przygotowania Produkcji po Dyrektora Działu Przygotowania Produkcji.
            Zdobyłem doświadczenie przy realizacji obiektów budownictwa mieszkalnego wielorodzinnego, hoteli, basenów, budynków medycznych jak i przy budowie infrastruktury technicznej. Zajmuję się świadczeniem szerokiego zakresu usług związanych z branżą
            instalacji sanitarnych.
            <br>Doświadczenie oraz wiedza jaką zdobyłem dają Państwu gwarancję wykonania usług profesjonalnie i na wysokim poziomie. Klientom zapewniam profesjonalną pomoc.
            <br>Działam głównie na terenie miasta Rzeszowa, powiatu rzeszowskiego i lubaczowskiego, ale również na terenie całego województwa podkarpackiego. Rozważę również każda ofertę współpracy z innych regionów Polski.
        </p>
    </div>
    <img src="../../assets/jpg-png/IMG_20220209_121403.jpg">
</section>
<section class="contact" id="kontakt">
    <div class="container">
        <div class="contact-data">
            <h3 class="title">Kontakt</h3>
            <div *ngFor="let item of contact" class="contact-data-detail">
                <img [src]="'../../assets/svg/' + item.icon">
                <p>{{item.text}}</p>
            </div>
        </div>
        <div class="message">
            <h3 class="title">Zostaw mi wiadomość</h3>
            <input placeholder="Imię i nazwisko" type="text">
            <input placeholder="Adres e-mail" type="email">
            <textarea placeholder="Wiadomość"></textarea>
            <button class="button">
                <div>
                    <span>Wyślij</span>
                    <img src="../../assets/svg/send_arrow.svg">
                </div>
            </button>
        </div>
    </div>
</section>
<section class="footer">
    <a href="#/">
        <img src="../../../assets/svg/logo-without-whitespace-white.svg">
    </a>
    <span class="c">©{{ today | date:'YYYY' }} Nazarko Company. Wszelkie prawa zastrzeżone.</span>
    <span>Strona została zaprojektowana i stworzona przez <b>Rafała Nazarko</b></span>
</section>