@import '../src/app/scss/colors';
@import '../src/app/scss/variables';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (max-width: $max-width-1) {
    html {
        font-size: 62%;
    }
}

@media only screen and (max-width: $max-width-2) {
    html {
        font-size: 57%;
    }
}

@media only screen and (max-width: $max-width-3) {
    html {
        font-size: 52%;
    }
}

@media only screen and (max-width: $max-width-4) {
    html {
        font-size: 47%;
    }
}

@media only screen and (max-width: $max-width-5) {
    html {
        font-size: 43%;
    }
}

@media only screen and (max-width: $max-width-7) {
    html {
        font-size: 40%;
    }
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    font-family: $default-font;
    background-color: $color-white;
    color: $color-black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.default-font {
    font-family: $default-font;
}

.light-font {
    font-family: $light-font;
}

.title-font {
    font-family: $title-font;
}

.router-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-grey-0;
}

::-webkit-scrollbar-thumb {
    background: $color-primary-dark;
}

::-webkit-scrollbar-thumb:hover {
    background: $color-primary-dark;
}